<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.chunks.main.css %>">
    </head>
    <body>
        <div id="app"></div>
        <script src="<%= htmlWebpackPlugin.files.chunks.main.entry %>"></script>
    </body>
</html>